.post {
  margin-bottom: 6rem;
}

  .post a.post__title__anchor {
    font-size: 2rem;
    vertical-align: super;
    font-weight: $font-weight__normal;
    text-decoration: none;
    color: #a1f0df;
    border: 0;
    &:before {
      content: "#";
    }
  }

.post ul {
  margin-left: 0;
  padding-left: 0;
}

  .post li {
    margin-bottom: 1.125rem;
  }

.post a {
  border-bottom: solid 2px #a1f0df;
  &:hover {
    color: #892eca;
    border-color: rgba(137,46,202,0.25);
  }
}

.post h1 {
  padding-top: 2rem;
}
