.site__header {
  margin-bottom: 6rem;
  font-size: .9rem;
}

.site__header__nav {
  margin: 0;
  padding: 0;
  font-size: .9rem;
  list-style: none;
  display: inline;
  text-transform: lowercase;
  li {
    display: inline-block;
  }
  li:not(:last-child):after {
    content: " \00B7";
    color: #aaa;
  }
}
