.site__header {
  padding: 3rem;
  padding-left: $column + 3rem;
	@media ( min-width: 1000px ) {
    margin-bottom: 3rem;
    padding: 6rem 3rem 6rem;
    padding-left: $column--large + 5rem;
  }
	@media ( max-width: 666px ) {
    padding: 2rem;
  }
  font-family: $font-family__head;
  background: #a1f0df;
  color: #892eca;
}

  .site__title {
  }

.credit {
  font-size: 65%;
}
